body{
    /*background-color: rgb(255, 196, 196);*/
    background-image: url("Laufey_performing_at_Wiener_Stadthalle_in_Vienna\,_Austria_on_February_26th_2026_-_29.jpg");
    background-size: 20%;
    text-align: center;
    height: 100vb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartao{
    width: 40%;
    background-color: rgba(255, 248, 220, 0.86);
    margin: auto;
    border-radius: 15%;
    border-style: groove;
}
img {
    width: 150px;
}
p{
    color: red;
}
h1{
    color:chocolate
}
h2{
    color:deeppink;
}
i{
    color: brown;
}
A{
    text-decoration: none;
}